<%- include("header")-%>
<div class="about-page">
<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur recusandae cum ullam illo consequatur in, necessitatibus magnam, eveniet accusamus earum asperiores quaerat sit quibusdam inventore voluptas eius totam ab et unde aliquam veniam omnis nihil vero. Ipsa sunt soluta eveniet quisquam magni distinctio saepe praesentium voluptate recusandae, omnis facere cumque quam quas sint odio eligendi. Voluptatem modi praesentium ipsum natus aut recusandae nulla est ullam ex sed cum doloribus, commodi, voluptates quaerat minima tenetur distinctio odio exercitationem officiis necessitatibus repudiandae iure assumenda! Esse culpa necessitatibus itaque quod quae deleniti quibusdam commodi! Id veritatis vel, soluta hic iste esse a dicta?</p>

<div class="abt-meet">
    <h2>Meet Our Team</h2>

    <div class="abt-card">
        <img src="/assets/head.jpeg" alt="" style="width: 100%;">
        <h3>John Doe</h3>
        <p class="abt-title">head manager</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, earum omnis delectus obcaecati similique consectetur id ea? Optio, amet eveniet.</p>
    </div>
<div class="abt-value">
    <h2>Our Values</h2>
    <div class="abt-val">
        <div class="val-1">
    <h3>Integrity</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto ducimus maiores pariatur, obcaecati voluptatum!</p>
</div>
<div class="val-2">
    <h3>Integrity</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto ducimus maiores pariatur, obcaecati voluptatum!</p>
</div>
<div class="val-3">
    <h3>Integrity</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto ducimus maiores pariatur, obcaecati voluptatum!</p>
</div>
   
</div>
</div>

</div>


</div>
<%- include("footer")-%>