<%- include("header")-%>

<h2>this is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur recusandae cum ullam illo consequatur in, necessitatibus magnam, eveniet accusamus earum asperiores quaerat sit quibusdam inventore voluptas eius totam ab et unde aliquam veniam omnis nihil vero. Ipsa sunt soluta eveniet quisquam magni distinctio saepe praesentium voluptate recusandae, omnis facere cumque quam quas sint odio eligendi. Voluptatem modi praesentium ipsum natus aut recusandae nulla est ullam ex sed cum doloribus, commodi, voluptates quaerat minima tenetur distinctio odio exercitationem officiis necessitatibus repudiandae iure assumenda! Esse culpa necessitatibus itaque quod quae deleniti quibusdam commodi! Id veritatis vel, soluta hic iste esse a dicta?</p>


<%- include("footer")-%>