<%- include("header")-%>
<div class="contact-page">
    <div class="contact-form">
        <h2>Contact Us</h2>
        <div class="contact-text">
            <form action="" method="post">
                <label for="name">name</label> <br>
                <input type="text" placeholder="Enter your name here"> <br> <br>
                <label for="email">email</label> <br>
                <input type="email" name="email" id="email" placeholder="Enter your Email here"> <br> <br>
                <label for="Question">Question</label> <br>
                <textarea name="" id="question" placeholder="Enter Question or Feedback"></textarea> <br> <br>
                <button class="contact-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include("footer")-%>