<footer>
    <div class="footer-1">
    <h3>Subscribe to our newsletter</h3>
        
    <form action="/" method="post">
        <input type="email" name="email" placeholder="Enter your email" autocomplete="off" id="email">
        <button type="submit">Subcribe</button>
    </form>
    </div>
        <div class="footer-2">
            <h1>My House</h1>
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
    <hr>
    <div>
        <p>©2025 Brand, Inc • Privacy • Terms • Sitemap</p>
    </div>
</footer>
</body>

</html>