<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my house</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header id="header">
    <div class="right-group">
        <h1>MyHouse</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Listings</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>   
        <div class="left-group">
            <button class="btn-1">Login</button>
            <button class="btn-2">Signup</button>
        </div>
    </header>