<%- include('header'); -%>

<div class="main">
   <h1>Find Your Dream Home</h1>
   <p>Discover properties tailored to your needs, from cozy apartments to luxurious villas</p> 
   <button>Search Now</button>
</div>









<%- include("footer")-%>