<%- include('header'); -%>
<div class="wrapper">
<div class="main">
   <h1>Find Your Dream Home</h1>
   <p>Discover properties tailored to your needs, from cozy apartments to luxurious villas</p> 
   <button type="submit" class="submit-btn">Search Now</button>
   
</div>

<%- include("footer")-%>
</div>






